/* shared styles */
body{
    font-family: 'Roboto', sans-serif;
}
    /* header styles */
nav{
    display: flex;
    justify-content: space-between;
    /* margin: 20px 80px 0px 80px; */
    padding: 10px 50px 10px 50px;
    max-width: 1300px;
    margin: auto;
}
.logo{
    display: flex;
}
.logo-image{
    padding-top: 25px;    
}
.logo-text{
    padding-left: 10px;
    font-weight: 700;
    font-size: 22px;
}
.g{
    color:#FF42A5;
}
.navbar{
    padding: 30px;
    /* padding-left: 400px; */
    display: flex;
    align-items: center;
}
.navbar a{
    padding: 10px;
    text-decoration: none;
}
.navbar-icon{
    /* padding: 15px; */
    background-color: #E7E6E9;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.youtube{
    color: #F61C0D;
    font-size: 30px;
}
/* banner styles */
.banner-container{
    display: flex;
    justify-content: space-around;
}
.banner-text{
    padding-top: 130px;
    /* background-image: url("../images/Group-14.png"); */
}
.banner-text h2{
    color: #0d0229;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
.banner-text h1{
    /* text-align: center; */
    /* color: #C051D2; */
    font-size: 70px;
    font-weight: 550;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.banner-image img{
    max-width: 100%;
}
.banner-text p{
    color: #736C80;
}
.banner-text p i{
    padding-right:10px;
    color:#FF42A5;
}
.btn-primary{
    background-color: #FF42A5;
    border-radius: 20px;
    color: #FFF;
    font-size: 12px;
    padding: 8px 15px;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}
.btn-secondary{
    background-color: #4EC5E7;
    border-radius: 20px;
    color: #FFF;
    font-size: 12px;
    padding: 8px 15px;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}
    /* gamer styles */
.gamer-container{
    display: flex;
    justify-content: space-around;
}
.gamer-image{
    padding-left: 30px;
    max-width:50% ;
}
.gamer-image img{
    max-width: 100%;
}
.gamer-text{
    max-width:35% ;
    text-align: right;
    padding-top: 40px;
    padding-right: 80px;
}
.gamer-text h2{
    color: #C051D2;
    font-size: 30px;
    font-weight: 600;
}
.gamer-text p{
    color: #736C80;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
.btn-primary{
    background-color: #FF42A5;
    border-radius: 20px;
    color: #FFF;
    font-size: 12px;
    padding: 8px 15px;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}
.gamer-text h5{
    color: #736C80;
    font-size: 15px;
}
.gamer-text h3{
    color: #686277;
    font-size: 20px;
}
/* games styles */
.games-text{
    text-align: center;
}
.games-text h2{
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
}
.funny-text{
    color: #C051D2;
}
.games-text p{
    color: #736C80;
    font-size: 14px;
}
.games-card{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px 50px;
}
.card img{
    width:250px;
    padding: 0px 20px;
    border-radius: 8px;
}

.card-overlay-container i{
    color: #FFF;
    font-size: 40px;
}
.card-overlay-container p{
    color:#FF42A5;
    font-size: 23px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}
.card-text{
    margin-left: 25px;
    text-align: start;
    width:240px;
    color: #534C64;
    font-size: 15px;
    font-weight: 450;
    line-height: 30px;
}
.single-card-container{
    position: relative;
}
.single-card-container img{
    opacity: 1;
  display: block;
  max-width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}
.card-overlay-container{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #28282860;
    height: 100%;
    width:250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.single-card-container:hover .card-overlay-container{
    opacity: 1;
}

/* play styles */
.play-container{
    display: flex;
    justify-content: center;
    margin: 0px 80px;
    align-items: center;
    /* border: 1px solid red;   */
}
.play-text{
    /* text-align: center; */
    /* padding-top: 100px;
    padding-left: 130px; */
    padding-right: 20px;
    height: fit-content;
    text-align: right;
}
.play-text h2{
    color: #0B0223;
    font-size: 45px;
    font-weight: 600;
    line-height: 50px; 
}
.play-instant{
    color: #FF42A5;
    font-size: 46px;
    font-weight: 600;
    line-height: 50px;
}
.play-text p{
    color: #736C80;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px; /* 166.667% */

}
.play-image{
    padding-left: 5%;
    position: relative;
    text-align: right;
    margin-bottom: 120px;
}
.abs-image{
    position: absolute;
    left: 0;
    bottom: -100px;
}
.play-image img{
    max-width: 100%;
}


/* online-games style */
.online-games-container{
    margin: 40px 50px;
}
.online-games-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.online-games{
    display: flex;
    justify-content: center;
    /* width: 240px; */
    height: 50px;
    margin-bottom: 20px;
    padding: 5px;
}
.online-games img{
    width: 50px;
    height: 50px;
}
.online-games p{
    color: #0B0223;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.online-games:hover {
    border:1px solid #FF42A5 ;
    border-radius: 30px;
}
.online-games:hover p{
    color: #FF42A5;
}
/* footer styles */
.footer-section{
    background-color: #0B0223;
}
.footer-logo{
    display: flex;
    justify-content: center;
}
.footer-image{
    padding-top: 25px;
}
.footer-image img{
    height: 28px;
}
.footer-text{
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    padding-left: 8px; 
    color: #FFF;
}
.footer-links{
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    line-height: normal;
    padding: 20px; 
}
.footer-links a{
    text-decoration: none;
    padding:0px 25px;
    color: #FFF;
}
.footer-icon{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    
}
.footer-icon a{
    padding: 0px 20px;
    color: #FFF;
}
.footer-terms{
    text-align: center;
    font-size: 15px;
    font-weight: 550;
    line-height: normal;
    padding: 20px;
}
.footer-terms a{
    text-decoration: none;
    padding: 0px 20px;
    color: #534C64;
}
.footer-rights{
    text-align: center;
    font-size: 14px;
    font-weight: 550;
    line-height: normal;
    padding: 20px;
    color: #534C64;
}

/* responsive media queries */
@media screen and (max-width: 576px) {
    nav{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }
    .gamer-text,.gamer-image{
        max-width: 100%;
        text-align: center;
    }
    .gamer-container{
        flex-direction: column;
        align-items: center;
    }
    .games-card{
        flex-direction: column;
        align-items: center;
    }
    .play-container{
    flex-direction: column;
    margin: 0;
    }
    .play-text{
        text-align: center;
    }
    .gamer-text{
        padding-right: 0;
    }
    
}

@media screen and (max-width: 992px){
    .banner-container{
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }
    .gamer-text,.gamer-image{
        max-width: 100%;
        text-align: center;
    }
    .gamer-container{
        flex-direction: column;
        align-items: center;
    }
    .games-card{
        flex-wrap: wrap;
    }
    .play-container{
    flex-direction: column;
    margin: 0;
    }
    .play-text{
        text-align: center;
    }
    .gamer-text{
        padding-right: 0;
    }
    .games-card{
        flex-wrap: wrap;
    }
}